<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742983309567-0dshg30b5tegggp7o9gr8cc9bcbokfm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742983309567-0dshg30b5tegggp7o9gr8cc9bcbokfm7</string>
	<key>API_KEY</key>
	<string>AIzaSyCARIJ94PLXT7NTLgF1RntrIEwuiiqTy8E</string>
	<key>GCM_SENDER_ID</key>
	<string>742983309567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sooyoung.flutterauth</string>
	<key>PROJECT_ID</key>
	<string>fluttertutorial-6179c</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertutorial-6179c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742983309567:ios:dc80741c0adac6fc00d4ca</string>
</dict>
</plist>